* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #800000;
    color: white;
    font-family: 'lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding-top: 60px;
    padding-bottom: 20px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    border-radius: 50%;
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    font-size: 80%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 15px;
    width: 70%;
    line-height: 145%;
    margin-left: 15%;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}


/*-----------ICONS --------------------*/

.icon-big {
    font-size: 400%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.bn:link,
.bn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s border 0.2s color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #fd7f11;
    border: 1px solid #fd7f11;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #fd7f11;
    color: #e67e22;
}

.bn:hover,
.bn:active {
    background-color: #cf6d17;
    color: white;
}


/* service section */

.service-showcase {
    list-style: none;
    width: 100%;
    margin: 0;
}

.service-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.service-photo {
    width: 100%;
    margin: 0;
}

.service-photo img {
    width: 100%;
    height: 250px;
    ;
}

.service-content {
    width: 50%;
    /*font-weight: 200;
    text-transform: uppercase;
    font-size: 110%;
    display: block;
    text-align: center;*/
    font-size: 100%;
    word-spacing: 2px;
    text-align: center;
    margin: 20px 20%;
    width: 70%;
    line-height: 145%;
    margin-left: 15%;
    letter-spacing: 1px;
    display: inline-block;
}

.profile-img {
    margin: 5px 35%;
}

.happy-customer {
    width: 100px;
    height: 100px;
}

.testimonials {
    background-image: url(/resources/css/img/perfume.jpeg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    margin: 60px 0%;
    border-top: 2px solid #e67e22;
    border-radius: 5px;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

blockquote:before {
    content: "\201C";
    font-size: 400%;
    color: #e67e22;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

button {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    /* text-decoration: none; */
    border-radius: 200px;
    background-color: #fd7f11;
    transition: background-color 0.2s border 0.2s color 0.2s;
    border: 1px solid #fd7f11;
    width: 200px;
    color: #fff;
    margin: 0 30%;
}

button:hover {
    background-color: #fff;
    color: gray;
}


/*--------------------footer-----------------------*/

a {
    color: #e67e22;
}

footer {
    background-color: #000;
    padding: 50px;
    font-size: 80%:
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

.social-links li a:link,
.socail-link li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00acde;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}